[submodule "code"]
	path = code
	url = https://github.com/zhaofeng-shu33/info-clustering-python-binding
[submodule "poster"]
	path = poster/info-clustering-poster
	url = https://gitee.com/freewind201301/info-clustering-poster.git
[submodule "outlier_detection"]
	path = experiment/outlier_detection
	url = https://github.com/zhaofeng-shu33/info-detection-experiment
[submodule "verification"]
	path = verification
	url = https://gitee.com/freewind201301/info-clustering-special-case-verification.git
[submodule "data-clustering"]
	path = experiment/data-clustering
	url = https://github.com/zhaofeng-shu33/data-clustering-experiment.git
[submodule "nips-authorship"]
	path = experiment/nips-authorship
	url = https://github.com/zhaofeng-shu33/nips-authorship
[submodule "community-detection"]
	path = experiment/community-detection
	url = https://github.com/zhaofeng-shu33/hierarchical-community-detection
[submodule "iconip2019"]
	path = paper/iconip
	url = https://github.com/zhaofeng-shu33/iconip2019paper
[submodule "presentation"]
	path = presentation
	url = https://github.com/zhaofeng-shu33/info-clustering-presentation
[submodule "paper/journal"]
	path = paper/journal
	url = https://github.com/zhaofeng-shu33/info-clustering-journal-paper
[submodule "stability"]
	path = experiment/stability
	url = https://github.com/zhaofeng-shu33/hierarchical_clustering_stability.git
[submodule "literature"]
	path = literature
	url = git@git.lug.ustc.edu.cn:zhaofeng-shu33/info_clustering_literature.git
