[submodule "cmty"]
	path = experiment/community_detection/cmty
	url = https://github.com/zhaofeng-shu33/community
[submodule "bhcd"]
	path = experiment/community_detection/bhcd
	url = https://github.com/zhaofeng-shu33/bhcd
[submodule "code"]
	path = code
	url = https://github.com/zhaofeng-shu33/info-clustering-python-binding
[submodule "poster"]
	path = poster/info-clustering-poster
	url = https://gitee.com/freewind201301/info-clustering-poster.git
[submodule "outlier_detection"]
	path = experiment/outlier_detection
	url = https://github.com/zhaofeng-shu33/info-detection-experiment
[submodule "verification"]
	path = verification
	url = https://gitee.com/freewind201301/info-clustering-special-case-verification.git
[submodule "data-clustering"]
	path = experiment/data-clustering
	url = https://github.com/zhaofeng-shu33/data-clustering-experiment.git
