[submodule "code"]
	path = code
	url = https://github.com/zhaofeng-shu33/principal_sequence_of_partition
[submodule "cmty"]
	path = experiment/community_detection/cmty
	url = https://github.com/zhaofeng-shu33/community
[submodule "bhcd"]
	path = experiment/community_detection/bhcd
	url = https://github.com/zhaofeng-shu33/bhcd
